@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
}

:root {
	--foreground: #ffffff;
	--background: #0a0a10;
	--muted: #ffffff80;
	--accent: #1d1d2f;
	--danger: #ff4040;
}

html,
body,
* {
	margin: 0;
	padding: 0;
	text-wrap: nowrap;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*:focus {
	outline-color: var(--muted);
}

*::backdrop {
	backdrop-filter: blur(1.6rem);
}

*::placeholder {
	color: var(--muted) !important;
}

input::file-selector-button {
	margin: 0;
	padding: 0;
	color: var(--muted);
	border: none;
	background-color: transparent;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: var(--foreground);
	background-color: var(--background);
	user-select: none;
}
